* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto Slab', Arial, sans-serif;
}

canvas {
    background: black;
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container p{
    text-align:center;
    font-size: 20px;
    line-height: 180%;
}

.container #text {
    font-family: Arial, sans-serif;
}

.container .pheaders {
    font-family: 'Fredoka One', serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#special {
    margin: auto;
}

.container .interests {
    margin-top: 30px;
    display: flex;
}

.container .projects {
    margin-top: 30px;
    display: flex;
}

.container .projects div {
    margin: 30px;
}

.container .interests div {
    margin: 30px;
}

.container .project1 {
    flex: 1;
}

.container .project2 {
    flex: 1; 
}

.container .project3 {
    flex: 1;
}

.container .special-link p a {
    text-decoration: none;
    color: rgb(153, 0, 0);
    transition: 0.5s;
}

.container .tradingview-widget-container {
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}

.container .special-link p a:hover{
    color: rgb(150, 150, 150);
}

.projectanimation {
    background-color: white;
    transition: background-color 0.7s;
}

.projectanimation:hover {
    background-color: rgb(209, 199, 199);
    transition: background-color 0.7s;
}

#projectsheader {
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

hr {
    width: 80%;
    margin: auto;
    opacity: 0.5;
}

.middle{
    text-align: center;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    width: 75px;
    background: #1b1b1b;
    margin: 20px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i{
   line-height: 75px;
   font-size: 26px;
   transition: 0.3s linear;
}

.btn:hover i{
   transform: scale(1.3);
   color: #1b1b1b;
}

.btn::before{
   content: "";
   position: absolute;
   width: 120%;
   height: 120%;
   background: #3498db;
   left: -110%;
   top: 100%;
}

.btn:hover::before{
   animation: 1s;
   top: -10%;
   left: -10%;
}

button {
    background-color: #1b1b1b;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    display: block;
    padding: 15px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #414141;
}
  

footer {
    background-color:rgb(40, 54, 100);;
    color: white;
    padding:20px;
    margin-top:20px;
    text-align:center;
    font-size: 20px;
    line-height: 180%;
}

footer p a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

footer p a:hover{
    color: rgb(150, 150, 150);
}

@media screen and (max-width: 1100px){
    .projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .interests {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    #text {
        font-size: 18px;
    }
    .pheaders {
        font-size: 28px;
    }
    #projectsheader {
        font-size: 23px;
    }
    .container {
        width: 90%;
    }
}