* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#f4f4f4;
    font-family: 'Poppins', sans-serif;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.description-container{
    width:60%;
    margin:auto;
    overflow:hidden;
}

/* Header */
header {
	display: flex;
	height: 13vh;
	margin: auto;
    align-items: center;
    border-bottom: #e8491d 3px solid;
}

.logo-container, .nav-links, .languages {
	display: flex;
}

.logo-container {
	flex: 1;
}

.logo {
	font-weight: 400;
	margin-left: 40px;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}

header .current a{
    color: #e8491d;
}

header a:hover{
    color: #3a3c3d
}

.languages {
	flex: 1;
	justify-content: flex-end;
}

.languages img {
    margin-right: 15px;
}


/* Middle-section */
.showcase{
    min-height:600px;
    background:url("../img/house.jpeg") no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
    border-bottom:#e8491d 3px solid;
}
  
.showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

.showcase p{
    font-size:20px;
}

.description-text {
    margin-top: 10vh;
}

.kontakt-h3 {
    margin-top: 50px;
}


/* Footer */
footer{
    padding:20px;
    margin-top:60px;
    color:#ffffff;
    background-color:#35424a;
    text-align: center;
}
